<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改车主认证')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-baw_owner_certification_wx-edit" th:object="${bawOwnerCertificationWx}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">底盘号：</label>
                <div class="col-sm-8">
                    <input name="chassis" th:field="*{chassis}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "wx/baw_owner_certification_wx";
        $("#form-baw_owner_certification_wx-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-baw_owner_certification_wx-edit').serialize());
            }
        }
    </script>
</body>
</html>
